.footer{
    margin-top: 40px;
    padding-top: 35px;
    background-color: #5a5a5a;
    box-shadow: 1px -4px 3px #d4d4d4;
}
.footer, .footer button{
    color: #ffffff;
}
.footer button{
    margin: auto;
}
.footer .MuiOutlinedInput-input{
    background-color: #ffffff;
}
.footer .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline{
    border-color: #ffffff;
}
.footer .MuiFormLabel-root.Mui-focused{
    color: #ffffff;
    text-shadow:0px 1px 1px #333333, 
                0px 2px 2px #333333, 
                0px 3px 2px #333333;
}
.subscribe-button{
    padding: 15px 22px !important;
    border-radius: 0 4px 4px 0 !important;
}
.subscribe-txt .MuiOutlinedInput-root{
    border-radius: 4px 0 0 4px !important;
}

.subscribe-box{
    padding: 20px 0 0 0;
    display: flex;
    justify-content: center;
}
.subscribe-social{
    padding: 20px 0 0 0;
    display: flex;
    justify-content: space-around;
}

.enlaces-interes{
    list-style: none;
    padding: 0;
}
.cookie-consent-container{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #1fa7aef7;
    padding: 35px 15px;
    font-size: 0.875rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    z-index: 9999;
}
.cookie-consent-content{
    display: block;
    text-align: justify;
    margin-right: 40px;
}
.cookie-consent-btn {
	background-color:#2772e1;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
    margin: auto 25px auto auto !important;
    border: none;
    display: block;
}

.cookie-consent-btn:hover{
    background-color: #0e51b6;
}

@media only screen and (max-width: 600px) {
    .subscribe-button{
        width: 100%;
    }
    .subscribe-txt{
        width: 100%;
    }
    .cookie-consent-container{
        position: fixed;
        width: auto;
        display: block;
        background: #1fa7aef7;
        padding: 35px 15px;
        font-size: 0.875rem;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-weight: 400;
        line-height: 1.43;
        letter-spacing: 0.01071em;
        z-index: 9999;
    }
    .cookie-consent-content{
        display: block;
        text-align: center;
        margin-right: auto;
    }
    .cookie-consent-btn {
        background-color:#2772e1;
        display:block !important;
        cursor:pointer;
        color:#ffffff;
        font-weight:bold;
        padding:6px 24px;
        text-decoration:none;
        margin: 20px auto !important;
        border: none;
        display: block;
    }
    
    .cookie-consent-btn:hover{
        background-color: #0e51b6;
    }
  }