.customerList{
    padding: 0;
    margin: 5px;
    list-style: none;
}
.customerList li{
    padding: 2px;
    vertical-align: middle;
    word-break: break-word;
    display: flex;
}
.customerList svg{
    margin-right: 8px;
    padding: 3px;
}
.customerList div{
    display: inline-block;
    word-break: break-word;
}

.customerMale{
background: #00c6ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.gender{
    padding: 0 0 0 4px;
    font-size: 1.5em;
    margin: 0 0 -10px;
}
.emailConfirm{
    padding: 0 0 0 4px;
    height: 0;
    font-size: 3.5em;
    position: relative;
    margin: 0 0 17px;
    top: -16px;
}
.noShadow{
    box-shadow: none !important;
}