.number-format{
    color: #4e4e4e;
}

.old-price .number-format{
    text-decoration: line-through;
    color: rgb(168, 168, 168) !important;
}

.entero{

}
.decimal{
    font-size: 0.62em;
    vertical-align: top;
    padding-left: 3px;
}


