.SearchBox{
    background-color: #ffffff !important;
}
.SearchBox #search{
    padding: 16px 12px !important;
    background-color: #ffffff !important
}

.SearchBox .MuiFilledInput-root{
    background-color: #ffffff !important
}
@media only screen and (max-width: 600px) {
    .SearchBox{
        margin: 15px 0px 0px 20px !important;
        width: 90% !important;
    }
  }