.stepperContent{
    padding: 0px 50px 50px;
}
.stepperActions{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}

@media (max-width: 640px) {
    .stepperContent{
        padding: 0px !important;
    }  
  }
