@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300&display=swap');
.navMenu{
    position: fixed;
    top: 30%;
    right: -0.5em;
    padding: 5px;
    transition: padding 0.5s;
}
.navMenu:hover{
    padding: 5px 20px 5px 5px;
}
.navMenu a{
    display: block;
    padding: 5px;
    text-align: right;
    color: #3f51b5;
}
.scrollEle{
    float: left;
    margin-top: -25px;
}
.table-header{
    font-family: 'Roboto Condensed', sans-serif !important;
    font-weight: bold !important;
    color:rgb(95, 95, 95) !important;
}

.state-list:nth-child(odd) {
    background: rgb(241, 241, 241);
}

.cargando{
    position: relative !important;
  }
