.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.boton-arriba{
    transform: rotate(-90deg);
}
.boton-abajo{
    transform: rotate(-90deg);
}

.inputContador{
    text-align: center;
    width: 30px;
    height: 30px;
    border: none;
    font-size: 20px;
    font-weight: lighter;
}