@import url('https://fonts.googleapis.com/css?family=Open+Sans:600|Roboto+Mono:300&display=swap');
.paper{
    border-radius: 0px !important;
    margin: 2px 0 1px;
    font-family: 'Open Sans', sans-serif !important;
}

.paper2{
    padding:30px 30px 30px 20px;
}

.paper2 h4{
    font-size: 2.5rem;
}

.product-name{
    font-size: 26px;
}
.product-price{
    font-size: 2.5em !important;
    margin: 0;
}

.product-condition{
    font-size: 14px;
    color: #666;
}

.actions{
    padding-top: 20px;
}

.Inventario-paper-202 {
    width: 320px;
    background-color: #fff;
}