.modal{
    padding: 7px 7px !important;
}
.titulo{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
}

.MuiDialogActions-root{
    align-items: center !important;
    justify-content: center !important;
}

.totalItems .MuiBadge-badge{
    border: 1px solid #fff !important;
}