@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
.phrase{
    font-family: 'PT Sans', sans-serif;
    position: absolute;
    width: 100%;
    bottom: 0px;
    padding-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.33);
}

.phrase-image{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
.phrase h1{
    text-align: center;
    color:#fff;
    font-size: 1.7em;
    text-shadow: 0px 0px 3px #343434, 
                 2px 2px 3px #333;
    padding: 0px 25px;
  }
.phrase h3{
    width: auto;
    text-align: right;
    margin: 0 30px;
    color:#fff;
    text-shadow: 0px 0px 2px #888,
                 2px 2px 3px #333;
    text-transform: uppercase;
  }
.phrase h5{
    width: auto;
    text-align: right;
    margin: 0 30px;
    color:#fff;
    text-shadow: 0px 0px 2px #888, 
                 2px 2px 3px #333;
    text-transform: uppercase;
  }
.phrase-image .cargando{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    margin: -4% 0 0 -4%;
  }