.old-price{
    text-decoration:line-through;
    color: rgb(168, 168, 168);
}
.promo-color{
    color: #00a650 !important;
}
.discount-percent{}
.discount-percent::after{
    display: inline;
    content: "% OFF";
}