.product-description p{
    font-size: 17px;
}
.product-name{
    font-size: 30px !important;
    line-height: 1 !important;
}
.product-total{
    display:flex;
    align-items:center;
}
.number-format{
    color: black !important;
}

.product-total h4{
    font-size: 42px;
}
.product-total p{
    font-size: 18px;
}
.stock-disponible{
    font-size: 20px !important;
}
.product-description h1, 
.product-description h4, 
.product-description p{
    font-weight: lighter !important;
}
.product-description{
    padding: 20px;
}
.costo-envio{
    display:flex;
    align-items: center;
    padding-top:22px;
}
.action-buttons{
    margin: 15px auto !important;
    padding: 15px !important;
    width: 100%;
    display: block !important;
    font-weight: lighter !important;
    font-size: 18px !important;
}

.visible{
    display: flex !important;
}
.hidden{
    display: none !important;
}

@media only screen and (max-width: 600px) {


}