.icon{
     color: rgba(0, 0, 0, 0.54);
}
#anchoIcon{
    transform: rotate(90deg);
}
#pesoIcon{
    transform: rotate(-45deg);
}
.paddingTop{
    color: rgba(0, 0, 0, 0.54);
    padding:30px 0 30px;
}