.image-icon{
    font-size: 13em !important;
    color: rgba(0, 0, 0, 0.1);
}
.carousel .control-dots{
    text-align: none !important;
}
.carousel.carousel-slider {
    margin: auto !important;
}
.carousel .slide{
    background: #ffffff !important;
}
.carousel.carousel-slider 
.control-arrow{
    height: 100%;
}
.carousel.carousel-slider .control-arrow:hover {
    background: rgba(63, 81, 181, 0.42) !important;
}