.icon_container{
    padding: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    text-align: center;
    margin: auto;
}
.message_text{
    text-align: center;
    padding: 50px 10px;
}

.result_success{
    background-color: #4caf50 !important;
    color: white !important;
}
.result_error{
    background-color: #F44336 !important;
    color: white !important;
}

