.app-bar{
    box-shadow: none !important;
    /* transition: 600ms ease !important; */
    transition: 2s ease;
}
.menuButton{
    margin-right:2px !important;
  }

.menuButton:hover{
    background-color: transparent !important;
}

.menuButton svg{
    width: 2.1em;
    height: 2.1em;
}