.progressContainer{
    width: 100%;
    height: 240px;
    position: relative;
    top: 0;
    left: 0;
    background-color: #ffffff;
}
.progress{
    position: relative;
    top: 50%;
    left: 50%;
    margin: -10px -20px;
}