.colorContainer > span{
    width: 65px;
}
.colorContainer > p{
    margin: 0;
    text-align: center;
}
.code-color{
    padding: 5px;
    margin: 20px auto;
    text-align: center;
}

.code-color > div{
    border: 1px solid #d8d8d8;
    padding: 10px;
    border-radius: 15px;
    position: relative;
}
.code-color > div > button{
    background-color: #fff;
    border: 1px solid #ff8888;
    border-radius: 3px;
    color: #f00;
    float: right;
    margin-right: 8px;
    cursor: pointer;
}

.code-color > div > span{
    display: inline-block;
    border: 1px solid #ededed;
    width: 35px;
    height: 40px;
    margin-right: 5px;
    position: absolute;
    top: 0;
    left: 0px;
    border-radius: 15px 0 0 15px;
}